# Hands-On Practice

## Variables, Arithmetics, & Comparison

**Tugas 1:**  
Tetapkan nilai berikut ke dalam variabel:
- Sebuah integer ke `students_count`  
- Sebuah float ke `rating`  
- Sebuah boolean ke `is_published`  
- Sebuah string ke `course_name`

In [5]:
# Write your code here
students_count = 2
rating = 4.8
is_published = True
course_name = "GSB-Training"

**Tugas 2:**  
Gunakan `students_count` dan `rating` untuk menghitung:
- `total_score = students_count * rating`  
- `average_score = total_score / 2`

In [2]:
# Write your code here
total_score = students_count * rating
average_score = total_score / 2

**Tugas 3:**  
Periksa apakah `rating` lebih besar dari `4.0`.  
Simpan hasilnya dalam variabel bernama `is_high_rating`.

In [ ]:
# Write your code here
if rating >= 4.0:
    is_high_rating = rating

**Tugas 4:**  
Gunakan `students_count` dan periksa apakah nilainya setelah dikalikan dua lebih kecil dari `5000`.  
Simpan hasilnya dalam variabel bernama `is_small_course`.

In [6]:
# Write your code here
students_count *= 2
if students_count <= 5000:
    is_small_course = students_count

is_small_course

4

**Tugas 5:**  
Diberikan:

```python
a = 5
b = 10
```

Tukar nilai dari `a` dan `b`.

In [9]:
# Write your code here
a = 5
b = 10

c = a
a = b
b = c

print(a, b)

10 5

## Strings

**Tugas 1:**  
Buat string bernama `quote` yang berisi teks:  
`Ali said "Python is fun"`  
Pastikan kamu menggunakan escape sequence yang benar.

In [11]:
# Write your code here
quote = '"Python is fun"'

print(f"Ali said {quote}")

Ali said "Python is fun"

**Tugas 2:**  
Diberikan string berikut:

```python
course = "Python Programming"
```

Gunakan slicing untuk mengekstrak:
- `"Python"` dan simpan ke dalam variabel `language`
- `"Programming"` dan simpan ke dalam variabel `subject`

In [28]:
# Write your code here
course = "Python Programming"

language = course[slice(6)]
subject = course[slice(7,18)]
print(f"language: {language}, subject: {subject}")

language: Python, subject: Programming

**Tugas 3:**  
Diberikan `name = "  ali fazli  "`, gunakan method string untuk:
- Menghapus spasi berlebih di awal dan akhir  
- Membuat huruf pertama setiap kata menjadi kapital  
- Simpan hasil akhirnya ke dalam variabel `clean_name`

In [88]:
# Write your code here
name = "  ali fazli  "

clean_name = name.strip()
clean_name = clean_name.title()
clean_name

'Ali Fazli'

**Tugas 4:**  
Diberikan `sentence = "I love Java. Java is cool."`, lakukan hal berikut:
- Temukan indeks kemunculan pertama dari `"Java"`  
- Ganti semua `"Java"` dengan `"Python"`

In [90]:
# Write your code here
sentence = "I love Java. Java is cool."

sentence.index("Java")
sentence.replace("Java", "Python")

'I love Python. Python is cool.'

**Tugas 5:**  
Diberikan:

```python
name = "Ali"
age = 20
```

Buat formatted string yang menghasilkan:
- `"My name is Ali and I am 20 years old."`
- Simpan hasilnya ke dalam variabel `message`

In [30]:
# Write your code here
name = "Ali"
age = 20

message = f"My name is {name} and I am {age} years old."
message

'My name is Ali and I am 20 years old.'

## Conditional Statements & Logical Operators

**Tugas 1:**  
Diberikan:

```python
temperature = 30
```

Tulislah pernyataan `if` yang mencetak `"It's hot"` jika nilai `temperature` lebih dari 25.

In [31]:
# Write your code here
temperature = 30

if temperature > 25:
    print("It's hot")

It's hot

**Tugas 2:**  
Minta pengguna memasukkan password menggunakan `input()`.  
Jika password-nya adalah `"admin"`, cetak `"Access granted"`; jika tidak, cetak `"Access denied"`.

In [34]:
# Write your code here
password = input()

if password == "admin":
    print("Access granted")
else:
    print("Access denied")

 admin

Access granted

**Tugas 3:**  
Diberikan sebuah variabel `age`, tulislah kondisi untuk:
- Mencetak `"Child"` jika `age < 13`  
- Mencetak `"Teen"` jika `13 <= age < 18`  
- Mencetak `"Adult"` jika tidak memenuhi kedua kondisi di atas

In [91]:
# Write your code here
age = 20

if age < 13:
    print("Child")
elif 13 <= age < 18:
    print("Teen")
else:
    print("Adult")

Adult

**Tugas 4:**  
Diberikan:

```python
score = 85
is_submitted = True
```

Cetak `"Passed"` hanya jika nilai `score` minimal 70 dan tugas sudah dikumpulkan (`is_submitted == True`).
Jika tidak, cetak `"Failed"`.

In [36]:
# Write your code here
score = 85
is_submitted = True

if score >= 70 and is_submitted == True:
    print("Passed")
else:
    print("Failed")

Passed

**Tugas 5:**  
Diberikan:

```python
logged_in = False
is_admin = True
```

- Cetak `"Access denied"` jika belum login dan bukan admin.
- Jika tidak, cetak `"Access granted"`.

In [94]:
# Write your code here
logged_in = False
is_admin = True

if logged_in == False and is_admin == False:
    print("Access denied")
else:
    print("Access granted")

Access granted

## For Loops

**Tugas 1:**  
Gunakan `for` loop dan `range()` untuk mencetak angka dari 1 sampai 5.

In [39]:
# Write your code here
for i in range(5):
    print(i+1)

1
2
3
4
5

**Tugas 2:**  
Diberikan:

```python
fruits = ["apple", "banana", "cherry"]
```

Gunakan `for` loop untuk mencetak setiap buah dalam huruf kapital (uppercase).

In [45]:
# Write your code here
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i.upper())

APPLE
BANANA
CHERRY

**Tugas 3:**  
Buat list baru bernama `cubes` yang berisi hasil pangkat tiga (^3) dari angka 0 sampai 4 menggunakan **list comprehension satu baris**.

In [96]:
# Write your code here
numbers = [0, 1, 2 ,3 ,4]

cube = [x**3 for x in numbers]
cube

[0, 1, 8, 27, 64]

**Tugas 4:**  
Buat list bernama `odds` yang hanya menyimpan **bilangan ganjil** dari 0 hingga 10 menggunakan list comprehension.

In [101]:
# Write your code here
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odds = [x for x in numbers if x % 2 == 1]
odds

[1, 3, 5, 7, 9]

**Tugas 5:**  
Diberikan sebuah matriks:

```python
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
```

Gunakan `for` **loop bersarang** (nested loop) untuk mencetak setiap elemen dalam matriks satu per satu.

In [107]:
# Write your code here
matriks = [[ x for x in range(3)],[ x for x in range (4,7)]]
matriks

[[0, 1, 2], [4, 5, 6]]

## While Loops

**Tugas 1:**  
Cetak angka dari 1 sampai 5 menggunakan `while` loop.

In [47]:
# Write your code here
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

**Tugas 2:**  
Minta pengguna memasukkan sebuah angka dan cetak hasil kuadrat dari angka tersebut.  
Terus minta input **hingga pengguna memasukkan angka yang lebih besar atau sama dengan 10**.

Hint: gunakan `int(input())`

In [ ]:
# Write your code here
"""
angka = int(input())

while angka <= 10:
    print(angka**2)
"""

**Tugas 3:**  
Gunakan `while True` loop untuk terus meminta pengguna memasukkan teks dan cetak teks tersebut.  
Jika pengguna mengetik `"quit"`, keluar dari loop tanpa mencetak `"quit"` menggunakan `break`.

In [ ]:
# Write your code here

**Tugas 4:**  
Gunakan `while` loop untuk mencetak hanya **bilangan ganjil** antara 1 sampai 10.  

Gunakan `continue` untuk melewati bilangan genap.

In [ ]:
# Write your code here
angka = 1

while angka <= 10:
    angka % 2 == 0
    continue
    print(angka)
    angka += 1

**Tugas 5:**  
Mulailah dengan:

```python
attempts = 0
```

Terus minta pengguna untuk memasukkan password (gunakan `input()`), dan berhenti hanya jika:
- Pengguna memasukkan password yang benar `"python123"`, atau
- Sudah mencoba sebanyak 3 kali (`attempts >= 3`)

Cetak `"Access granted"` jika password benar, atau `"Access denied"` jika melebihi batas percobaan.

In [ ]:
# Write your code here

## Lists and Tuples

**Tugas 1:**  
Diberikan list:

```python
numbers = [10, 20, 30, 40, 50]
```

- Gunakan slicing dan simpan 3 elemen pertama ke dalam `first_three`
- Gunakan slicing dan simpan 2 elemen terakhir ke dalam `last_two`

In [52]:
# Write your code here
numbers = [10, 20, 30, 40, 50]

first_three = numbers[0:3]
last_two = numbers[-2:]
print(f"first_three: {first_three}, last_two: {last_two}")

first_three: [10, 20, 30], last_two: [40, 50]

**Tugas 2:**  
Diberikan:

```python
fruits = ["apple", "banana", "cherry"]
```

- Tambahkan `"orange"` ke akhir list
- Sisipkan `"kiwi"` di awal list
- Hapus `"banana"` dari list

In [55]:
# Write your code here
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")
fruits.insert(0, "kiwi")
fruits.remove("banana")

fruits

['kiwi', 'apple', 'cherry', 'orange']

**Tugas 3:**  
Diberikan:

```python
a = [1, 2, 3]
```

- Buat salinan list dan simpan sebagai `a_copy`
- Buat view (referensi) dari list dan simpan sebagai `a_view`
- Ubah nilai `a_view[0] = 99`
- Cetak `a`, `a_view`, dan `a_copy` untuk melihat perbedaannya

In [56]:
# Write your code here
a = [1,2,3]

a_copy = a.copy()

a_view = a
a_view[0] = 99

print(f"a = {a}, a_view = {a_view}, a_copy = {a_copy}")

a = [99, 2, 3], a_view = [99, 2, 3], a_copy = [1, 2, 3]

**Tugas 4:**  
Diberikan:

```python
coords = (10, 20, 30)
```

Unpack tuple tersebut ke dalam tiga variabel: `x`, `y`, dan `z`.

In [ ]:
# Write your code here
coords = (10, 20, 30)

x = coords[0]
y = coords[1]
z = coords[2]

**Tugas 5:**  
Diberikan:

```python
point = (3, 4)
```

Unpack tuple tersebut, lalu hitung jarak Euclidean dari titik asal menggunakan rumus:

`distance = (x**2 + y**2)**0.5`

In [ ]:
# Write your code here
point = (3, 4)

x = point[0]
y = point[1]

distance = (x**2 + y**2)**0.5
distance

**Tugas 6:**  
Diberikan:

```python
nums = (4, 1, 3, 2)
```

- Ubah `nums` menjadi list agar dapat dimodifikasi
- Urutkan list dalam urutan menaik
- Balik urutan list tersebut
- Hapus elemen terakhir menggunakan `pop()`
- Kosongkan seluruh isi list

In [71]:
# Write your code here
nums = (4, 1, 3, 2)

l_nums = list(nums)
l_nums.sort()
l_nums.reverse()
l_nums.pop()
l_nums

[4, 3, 2]

**Tugas 7:**  
Diberikan:

```python
data = [1, 2, 3, 4, 5]
```

Gunakan extended unpacking untuk:
- Menyimpan elemen pertama ke dalam `head`
- Menyimpan sisa elemen ke dalam `tail`

In [ ]:
# Write your code here
data = [1, 2, 3, 4, 5]

head = data[0]
tail = data[1:]

## Dictionaries

**Tugas 1:**  
Diberikan:

```python
student = {"name": "Ali", "age": 20}
```

- Cetak nilai dari `"name"` menggunakan `student["name"]` dan `student.get("name")`
- Coba ambil nilai dari `"email"` menggunakan `.get()` tanpa menimbulkan error

In [ ]:
# Write your code here
print(student["name"])
print(student.get("name"))
print(student.get("email"))

**Tugas 2:**  
Gunakan `.get()` untuk mengambil nilai `"email"` dari dictionary `student`.  
Jika key tersebut tidak ada, kembalikan nilai `"Not provided"` sebagai default.

In [ ]:
# Write your code here
print(student.get("email", "Not provided")

**Tugas 3:**  
- Ubah umur siswa menjadi 21  
- Tambahkan key baru `"grade"` dengan nilai `"A"`

In [ ]:
# Write your code here
student["age"] = 21
student["grade"] = "A"

**Tugas 4:**  
Cetak semua hal berikut:
- Hanya key  
- Hanya value  
- Key dan value sebagai pasangan (tuple)

In [ ]:
# Write your code here
student.key()
student.value()

**Tugas 5:**  
Lakukan loop pada dictionary `student` dan cetak setiap key beserta nilai pasangannya dengan format:  
`key: value`

In [ ]:
# Write your code here

## Sets

**Tugas 1:**  
Buat sebuah set bernama `nums` dengan nilai `[3, 3, 4, 2, 2, 2, 1]`.  
Cetak isi set tersebut.  

Apa yang kamu perhatikan dari hasilnya?

In [73]:
# Write your code here
nums = [3, 3, 4, 2, 2, 2, 1]
nums = set(nums)

nums

{1, 2, 3, 4}

**Tugas 2:**  
Buat sebuah set kosong bernama `my_set` (bukan dictionary).  
Lalu tambahkan `"apple"` dan `"banana"` ke dalamnya.

In [ ]:
# Write your code here

**Tugas 3:**  
Diberikan:

```python
a = {1, 2, 3}
b = {3, 4, 5}
```

- Buat set baru `union_set` yang merupakan gabungan dari keduanya
- Buat set baru `intersect_set` yang hanya berisi elemen yang sama dari keduanya

In [75]:
# Write your code here
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)
print(a & b)

{1, 2, 3, 4, 5}
{3}

**Tugas 4:**  
Menggunakan set `a` dan `b` yang sama:

- Buat `diff_set` yang berisi nilai-nilai yang ada di `a` tapi tidak di `b`  
- Buat `sym_diff_set` yang berisi nilai-nilai yang ada di `a` atau `b`, tapi tidak keduanya

In [81]:
# Write your code here
diff_set = a - b

sym_diff_set = a ^ b

**Tugas 5:**  
Gunakan set comprehension untuk membuat sebuah set yang berisi semua bilangan genap dari 0 sampai 20.

In [ ]:
# Write your code here

## Input dan Typecasting

**Tugas 1:**  
Minta pengguna untuk memasukkan nama mereka dan simpan dalam variabel `name`.  
Cetak `Hello, <name>!`

In [ ]:
# Write your code here

**Tugas 2:**  
Minta pengguna memasukkan umur mereka, lalu ubah menjadi `int`.  
Jika umur ≥ 18, cetak `"Dewasa"`, jika tidak, cetak `"Anak-anak"`.

In [ ]:
# Write your code here

**Tugas 3:**  
Minta pengguna memasukkan dua angka desimal (`float`).  
Jumlahkan kedua angka tersebut dan tampilkan hasilnya.

In [ ]:
# Write your code here

**Tugas 4:**  
Minta pengguna mengisi input. Jika pengguna tidak mengisi apa-apa, anggap input tersebut `False`.  
Gunakan `bool()` untuk mengecek apakah input kosong atau tidak, lalu cetak hasilnya.

In [ ]:
# Write your code here

**Tugas 5:**  
Minta pengguna memasukkan kalimat.  
Ubah input tersebut menjadi list dari karakter-karakter yang ada di dalamnya, lalu cetak hasilnya.

Contoh:  
Input: `halo`  
Output: `['h', 'a', 'l', 'o']`

In [ ]:
# Write your code here

**Tugas 6:**  
Minta pengguna memasukkan 5 angka (gunakan `input()` sebanyak 5 kali).  
Setiap angka diubah ke `int`, dan disimpan dalam list `numbers`.

Setelah semua angka dikumpulkan, cetak:
- Rata-rata nilainya
- Angka terbesar
- Apakah semua angka > 0 (gunakan `all()`)

In [ ]:
# Write your code here

## Functions

**Tugas 1:**  
Buat fungsi `say_hello()` yang mencetak `"Hello, world!"`  
Panggil fungsi tersebut.

In [58]:
# Write your code here
def say_hello():
    print("Hello, world!")

say_hello()

Hello, world!

**Tugas 2:**  
Buat fungsi `cube(x)` yang mengembalikan kubik dari `x`.  
Panggil dengan nilai `4` dan tampilkan hasilnya.

In [59]:
# Write your code here
def cube(x:int)-> int:
    print(x * x * x)

cube(4)

64

**Tugas 3:**  
Buat fungsi `greet(name="User")` yang mencetak `"Halo, <name>!"`  
Panggil fungsi:
- Tanpa argumen
- Dengan nama custom

In [61]:
# Write your code here
def greet(name="User"):
    print(f"Halo, {name}!")

greet()
greet("Hanif")

Halo, User!
Halo, Hanif!

**Tugas 4:**  
Buat fungsi `check_number(num)` yang:
- Mencetak `"Positif"` jika `num > 0`
- Mencetak `"Negatif"` jika `num < 0`
- Mencetak `"Nol"` jika `num == 0`

In [64]:
# Write your code here
def check_number(num):
    if num > 0:
        print("Positif")
    elif num < 0:
        print("Negatif")
    else:
        print("Nol")

check_number(0)
check_number(4)
check_number(-3)

Nol
Positif
Negatif

**Tugas 5:**  
Buat lambda function `multiply` yang mengalikan dua angka.  
Panggil fungsi tersebut dengan nilai `3` dan `4`, lalu cetak hasilnya.

In [ ]:
# Write your code here

**Tugas 6:**  
Buat fungsi `sum_all(*numbers)` yang menerima banyak angka dan mengembalikan jumlah totalnya.  
Panggil dengan beberapa angka, misalnya `1, 2, 3, 4`.

In [ ]:
# Write your code here

**Tugas 7:**  
Buat fungsi `print_profile(**data)` yang mencetak setiap pasangan `key: value` dari data yang diberikan.  
Contoh:

```python
print_profile(name="Ali", age=19, major="Statistics")
```

In [ ]:
# Write your code here

## OOP

**Tugas 1**:<br>
Buat kelas bernama `Animal`.<br>
Untuk saat ini, biarkan kelas tersebut kosong (gunakan `pass`).<br>
Buat objek `hewan_1` dari kelas tersebut.

In [ ]:
# Write your code here

**Tugas 2**:<br>
Modifikasi kelas `Animal` agar menerima `name` dan `colour` sebagai parameter.  
Simpan keduanya sebagai *intance attribute*.

Tampilkan `nama dari hewan_1` dan `warna dari hewan_1`

In [ ]:
# Write your code here

**Tugas 3**:<br>
Tambahkan method `greet()` ke dalam kelas `Animal` yang mencetak `(Silakan buat sekreatif mungkin)`.<br>
Panggil `hewan_1.greet()`.

In [ ]:
# Write your code here

**Tugas 4**:<br>
Buat dua objek `hewan_1` dan `hewan_2` dari kelas `Animal`.<br>
Berikan nama dan umur berbeda, dan panggil `greet()` untuk keduanya.

In [ ]:
# Write your code here

**Tugas 5**:<br>
Tambahkan variabel kelas `kingdom = "Animalia"` pada kelas `Animal`.<br>
Tampilkan `hewan_1.kingdom`, `hewan_2.kingdom`, dan `Animal.kingdom`.

In [ ]:
# Write your code here

**Tugas 6**:<br>
Ubah `hewan_2.kingdom` menjadi `"Fungi"` secara langsung.<br>
Perhatikan: Apakah itu mengubah nilai `kingdom` pada `hewan_2` atau `Animal`?

In [ ]:
# Write your code here

**Tugas 7**:<br>
Tambahkan method `is_rare()` dalam kelas `Animal`<br>
Return
- `False` jika warnanya putih, hitam, atau abu-abu
- `True` jika selainnya

Uji dengan memanggil `hewan_1.is_rare()`.

In [ ]:
# Write your code here

**Tugas 8:**  
Buat kelas `Device` dengan atribut `brand`.  
Buat dua kelas `Phone` dan `Laptop` yang mewarisi dari `Device`.  
Tambahkan atribut `model` di `Phone` dan `Laptop`.  
Cetak brand dan model dari masing-masing objek `Phone` dan `Laptop`.

In [ ]:
# Write your code here
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print(f"{self.name} makes a sound.")

class Dog(Animal):  # Dog inherits from Animal
    def speak(self):
        print(f"{self.name} barks.")

**Tugas 9:**  
Tambahkan method `info()` pada `Device` yang mencetak `"Perangkat umum."`  
Override method tersebut di `Phone` dan `Laptop`:
- `Phone`: cetak `"<brand> <model> adalah ponsel."`
- `Laptop`: cetak `"<brand> <model> adalah laptop."`

In [ ]:
# Write your code here

**Tugas 10:**  
Tambahkan method `power_on()` di kelas `Device` yang mencetak `"Menyalakan perangkat..."`  

Kemudian override method tersebut di `Phone` dan `Laptop`:
- Di dalam `Phone.power_on()`, panggil `super().power_on()` lalu cetak `"Memulai sistem ponsel."`
- Di dalam `Laptop.power_on()`, panggil `super().power_on()` lalu cetak `"Menyalakan sistem operasi laptop."`

Definisikan ulang 3 objek:
- d = Device()
- p = Phone()
- l = Laptop()

Panggil method tersebut pada objek `d`, `p`, dan `l`.

In [ ]:
# Write your code here