# Your First Python Code

[print() Documentation](https://docs.python.org/3/library/functions.html#print)

In [7]:
print("Hello, World!")

Hello, World!

In [8]:
print(80)

80

note: this is to print the function is `print()`

In [9]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

# Variable Assignment

Syntax:

```{python}
variabel_name = value
```

In [10]:
x = 1000

In [11]:
print(x)

1000

In [13]:
# print(x)

In [14]:
students_count = 1000          # Integer (int)
rating = 4.99                  # Floating-point number (float)
is_published = False          # Boolean (bool)
course_name = "Python Programming"  # String (str)

In [15]:
x = "1000"

In [16]:
print(x)

1000

In [17]:
type(x)

str

**Aturan Penamaan Variabel dalam Python**

1. **Huruf, Angka, dan Underscore**  
   Nama variabel hanya boleh terdiri dari huruf (`a-z`, `A-Z`), angka (`0-9`), dan underscore (`_`).

2. **Tidak Boleh Diawali dengan Angka**  
   Variabel **tidak boleh** diawali dengan angka.  
   ✅ `nilai1`, `_data`  
   ❌ `1nilai`, `9data`

3. **Case-Sensitive**  
   Python membedakan huruf besar dan kecil.  
   Contoh: `data`, `Data`, dan `DATA` adalah tiga variabel yang berbeda.

4. **Tidak Boleh Menggunakan Keyword Python**  
   Jangan gunakan kata kunci (keyword) bawaan Python seperti `if`, `for`, `while`, `class`, `def`, dll.  
   Gunakan `help("keywords")` di Python untuk melihat daftar lengkap.

5. **Gunakan Nama yang Deskriptif**  
   Walaupun Python tidak memaksa, disarankan menggunakan nama variabel yang jelas dan bermakna.  
   ✅ `total_harga`, `jumlah_mahasiswa`  
   ❌ `x`, `abc`, kecuali untuk contoh singkat atau perhitungan sederhana.

6. **Konvensi Penulisan (PEP8)**  
   - Gunakan **snake_case** untuk variabel umum → `jumlah_data`, `nilai_rata2`
   - Gunakan huruf besar semua (UPPER_CASE) untuk variabel konstanta → `PI`, `MAX_SCORE`

10

# Working with Strings

Syntax:

```{python}
course1 = "Python Programming"
course2 = 'Python Programming'
course3 = """
          Python
          Programming
          """
```

## len() function

[len() Documentation](https://docs.python.org/3/library/functions.html#len)

In [20]:
course1 = "Python Programming"

len(course1)

18

## Indexing & Slicing

Syntax for indexing:

```{python}
string[index]
```

Syntax for slicing:

```{python}
string[start:end] # inclusive:exclusive

string[start:end:step]
```

In [21]:
from IPython.display import Image

url_gambar = 'https://i0.wp.com/blog.ksrdatavision.com/wp-content/uploads/2024/10/image.png?w=940&ssl=1'

Image(url=url_gambar, width=600)

In [22]:
course = "Python Programming"

In [23]:
print("Indexing:")
print(course[0])   # 'P'
print(course[-1])  # 'g' (last character)

Indexing:
P
g

In [28]:
print("Slicing:")
print(course[0:6])    # 'Python'
print(course[:6])     # 'Python'
print(course)     # 'Programming'

Slicing:
Python
Python
Python Programming

## Escape Characters

Penjelasan terkait escape characters

| Code   | Result          |
|--------|-----------------|
| `\'`   | Single Quote    |
| `\"`   | Double Quote    |
| `\\`   | Backslash       |
| `\n`   | New Line        |
| `\r`   | Carriage Return |
| `\t`   | Tab             |
| `\b`   | Backspace       |
| `\f`   | Form Feed       |
| `\ooo` | Octal value     |
| `\xhh` | Hex value       |

[Python Escape Characters](https://www.geeksforgeeks.org/python/python-escape-characters/)

In [33]:
message = "Ali said \"Hello\""  # 'Ali said "Hello"'
print(message)

path = "C:\\Users\\Ali\\path1\\path2" # 'C:\Users\Ali
print(path)

Ali said "Hello"
C:\Users\Ali

## Formatted String

Formatted string (atau f-string) adalah cara penulisan string di Python yang memungkinkan kamu menyisipkan nilai variabel atau hasil ekspresi langsung ke dalam string dengan cara yang ringkas dan mudah dibaca.

**Syntax:**

```{python}
f"teks {ekspresi_python}"
```

In [35]:
variable = "tidak biasa"

formattted_string = f"teks {variable}"
print(formattted_string)

teks tidak biasa

In [36]:
first = "Ali"
last = "Fazli"
full = f"{first} {last}"  # 'Ali Fazli'

print(full)

Ali Fazli

In [39]:
pi = 3.1415926535
print(f"Nilai pi dibulatkan: {pi:.2f}")

angka = 7
print(f"Nilai: {angka:02d}")

panjang = 5
lebar = 4
print(f"Luas: {panjang * lebar} cm²")
print(panjang * lebar)

nilai = 0.875
print(f"Akurasi: {nilai:.1%}")

Nilai pi dibulatkan: 3.14
Nilai: 07
Luas: 20 cm²
20
Akurasi: 87.5%

## Raw String

Raw string digunakan untuk menulis string apa adanya, tanpa memproses karakter escape seperti \n, \t, \\, dll.

Biasanya digunakan saat menulis path file Windows, regex pattern, atau teks yang mengandung banyak backslash.

**Syntax:**

```python
r"teks"
```

In [40]:
print("Without raw string:")
print("C:\new_folder\data")  # \n dianggap sebagai newline

Without raw string:
C:
ew_folder\data

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-1912430253.py:2: SyntaxWarning: invalid escape sequence '\d'
  print("C:\new_folder\data")  # \n dianggap sebagai newline

In [43]:
print("With raw string:")
print(r"C:\new_folder\data") # Output: C:\new_folder\data

With raw string:
C:\new_folder\data

In [ ]:
# Contoh ketika menggunakan raw string untuk regex pattern:
pattern = r"\d{3}-\d{4}"

## Gabungan Formatted String dan Raw String (fr/rf)

In [44]:
folder = "data"
filename = "file.txt"

path1 = fr"C:\Users\Ali\{folder}\{filename}"
print(path)

C:\Users\Ali\data\file.txt

## String Methods

[String Methods Documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [60]:
course = "  python programming  "

In [46]:
print(course.upper())

  PYTHON PROGRAMMING

In [51]:

print(course.lower())

  python programming

In [55]:
course = "saya di rumah"

print(course)
print(course.title())

saya di rumah
Saya Di Rumah

In [63]:
print(course.strip())

python programming

In [70]:
course = "Python Programming"

In [65]:
print(course.find("Pro"))

print(course.find("pro"))

7
-1

In [68]:
print(course.replace("Python", "Java"))
course = course.replace("Python", "Java")
print(course)

Java Programming
Java Programming

In [75]:
from ctypes import pythonapi
print("Python" in course)
print("python" in course)
print("Java" in course)

lang1 = "PyThoN"

print("python" in lang1.lower())

True
False
False
True

> **Note**: Sebagian besar operasi string bersifat ***case-sensitive*** (peka terhadap huruf besar-kecil).  
Gunakan `.lower()` atau `.upper()` jika perlu **menormalkan** sebelum melakukan perbandingan.

# Working with Numeric

## Arithmetic Operator

| Operation | Result                      |
|-----------|-----------------------------|
| `x + y`   | sum of x and y              |
| `x - y`   | difference of x and y       |
| `x * y`   | product of x and y          |
| `x / y`   | quotient of x and y         |
| `x // y`  | floored quotient of x and y |
| `x % y`   | remainder of x / y          |
| `x ** y`  | x to the power y            |
| `-x`      | x negated                   |

In [76]:
x = 3
y = 2
print(x + y)

5

In [77]:
x = 5
y = 3
print(x - y)

2

In [78]:
x = 4
y = 6
print(x * y)

24

In [79]:
x = 7
y = 2
print(x / y)

3.5

In [80]:
x = 7
y = 2
print(x // y) # 7 / 2 = 3.5

3

In [81]:
x = 7
y = 2
print(x % y) # 7 = 2*6 + 1

1

In [82]:
x = 2
y = 3
print(x ** y)

8

In [83]:
x = 5
print(-x)

-5

## Functions Related to Numeric

[round() Documentation](https://docs.python.org/3/library/functions.html#round)

In [84]:
print(round(2.3))
print(round(2.6))

print(round(2.5))
print(round(3.5))

2
3
2
4

[abs() Documentation](https://docs.python.org/3/library/functions.html#abs)

In [85]:
print(abs(-5))

5

# User Input

Fungsi `input()` digunakan untuk **menerima input dari pengguna** melalui keyboard saat program dijalankan.
- Saat dipanggil, program akan **berhenti sejenak** dan menunggu pengguna mengetik sesuatu lalu menekan Enter
- **Secara default**, nilai yang dikembalikan oleh `input()` adalah **string**

[input() Documentation](https://docs.python.org/3/library/functions.html#input)

Syntax:

```{python}
varible_name = input(___)
```

In [89]:
score = input()
type(score)

100

str

In [91]:
name = input("What is your name? ")
print(f"Hello, {name}")

What is your name? doni
Hello, doni

# Typecasting

Syntax:

```{python}
# Convert to integer
int()

# Convert to float
float()

# Convert to boolean
bool()

# Convert to string
str()
```

In [97]:
# Convert to integer
x = "3"
print(int(x))
print(type(int(x)))

3
<class 'int'>

In [99]:
score = int(input("insert score: "))
print(score + 10)

insert score: 29
39

In [100]:
# Convert to float
x = "3.14"
print(float(x))
print(type(float(x)))

3.14
<class 'float'>

In [104]:
x = 3
type(x)
print(float(x))
print(type(float(x)))

3.0
<class 'float'>

In [111]:
# Convert to boolean
x = ""
print(bool(x))

y = "non-empty"
print(bool(y))

z = 0
print(bool(z))

False
True
False

In [105]:
# Convert to string
x = 123
print(str(x))

y = 4.56
print(str(y))

123
4.56

In [107]:
# Convert string to integer
age = int(input("Enter your age: "))

# Convert string to float
rating = float(input("Enter your rating: "))

# Convert string to boolean
# Note: Any non-empty string becomes True
is_active = bool(input("Are you active? (leave blank for False): "))

# Convert anything to string
value_str = str(100)

print(age)
print(rating)
print(is_active)
print(value_str)

Enter your age: 23
Enter your rating: 4.5
Are you active? (leave blank for False):
23
4.5
False
100

# Falsy Values

**Falsy values** adalah nilai-nilai yang dianggap `False` saat dievaluasi dalam konteks boolean (seperti dalam `if`, `while`, atau `bool()`).

Python akan memperlakukan nilai-nilai berikut sebagai `False`, meskipun secara eksplisit bukan `False`.

| Nilai        | Tipe         | Keterangan                         |
|--------------|--------------|------------------------------------|
| `""`         | String       | String kosong                      |
| `0`          | Integer      | Nol (juga berlaku untuk `0.0`)     |
| `0.0`        | Float        | Nol dalam tipe float               |
| `None`       | NoneType     | Representasi 'tidak ada'           |
| `[]`         | List         | List kosong                        |
| `{}`         | Dict         | Dictionary kosong                  |
| `()`         | Tuple        | Tuple kosong                       |
| `set()`      | Set          | Set kosong                         |
| `False`      | Boolean      | Nilai boolean false                |

In [110]:
text = None
print(bool(text))

False

In [ ]:
if not "":
    print("Empty string is falsy")

if not 0:
    print("Zero is falsy")

if not None:
    print("None is falsy")

# Comparison Operators

Operator pembanding digunakan untuk membandingkan dua nilai dan menghasilkan nilai **boolean** (`True` atau `False`).

| Operator | Description |
| :---: | :--- |
| `>` | Greater than |
| `<` | Less than |
| `>=`| Greater than or equal to |
| `<=`| Less than or equal to |
| `==`| Equal to |
| `!=`| Not equal to |

True

In [117]:
a = 10
b = 5

print("> :", a > b)
print("< :", a < b)
print(">=:", a >= b)
print("<=:", a <= b)
print("==:", a == b)
print("!=:", a != b)

> : True
< : False
>=: True
<=: False
==: False
!=: True

# Conditional Statements

*Conditional statement* digunakan untuk menjalankan blok kode tertentu hanya saat *codition*-hya bernilai `True`.

Syntax for if statement:

```{python}
if condition:
  code block
```
Syntax for if-else statement:

```{python}
if condition:
  code block
else:
  code block
```

Syntax for if-elif-else statement:

```{python}
if condition:
  code block
elif condition:
  code block
else:
  code block
```

In [121]:
# if-statement
nilai = 57

if nilai >= 80:
    print("Lulus dengan nilai bagus")
    print(1)
    print(2)

print(3)
print(4)

3
4

In [124]:
# if-else statement
nilai =

if nilai >= 85:
    print("Lulus")
else:
    print("Tidak lulus")

Tidak lulus

In [128]:
# if-elif-else statement
nilai = 85

if nilai >= 85:
    print("Grade A")
elif nilai >= 70:
    print("Grade B")
elif nilai >= 60:
    print("Grade C")
else:
    print("Grade D")

Grade A

## Ternary Operator

Syntax:

```python
variable_name = value_if_true if condition else value_if_false
```

In [129]:
umur = 16

status = "Dewasa" if umur >= 17 else "Anak-anak"
print(status)

Anak-anak

In [132]:
nilai = 85

if nilai >= 85:
    mutu = "Grade A"
elif nilai >= 70:
    mutu = "Grade B"
elif nilai >= 60:
    mutu = "Grade C"
else:
    mutu = "Grade D"

print(mutu)

Grade A

In [ ]:
nilai = 85

mutu = "Grade A" if nilai >= 85 else "Grade B" if nilai >= 70 else "Grade C" if nilai >= 60 else "Grade D"

print(mutu)

# Logical Operators

1. `and`: `True` jika kedua kondisi `True`

| A | B | A and B |
| :---: | :---: | :---: |
| `True` | `True` | `True` |
| `True` | `False`| `False` |
| `False`| `True` | `False` |
| `False`| `False`| `False` |

2. `or`: `True` jika salah satu kondisi `True`

| A | B | A or B |
| :---: | :---: | :---: |
| `True` | `True` | `True` |
| `True` | `False`| `True` |
| `False`| `True` | `True` |
| `False`| `False`| `False` |

3. `not`: Membalik nilai boolean

| A | not A |
| :---: | :---: |
| `True` | `False` |
| `False`| `True` |

In [133]:
a = 5
b = 10
c = 15

print(a < b and b < c)
print(a > b or b < c)
print(not a > b)
print(a < b and b > c)

True
True
True
False

# Looping

## `for` Loop

`for` loop digunakan untuk mengulang sebuah blok kode **sekali untuk setiap elemen** dalam sebuah urutan (seperti list, string, tuple, atau objek iterable lainnya).

Syntax:

```{python}
for item in iterable:
    code block
```

In [134]:
kata_kata = ["Ali", "Fazli", "Python", "Programming"]

for x in kata_kata:
    print(x)

Ali
Fazli
Python
Programming

## `while` Loop

`while` loop digunakan untuk mengulang sebuah blok kode **selama kondisi bernilai True**.

Syntax for while loop:

```{python}
while condition:
    code block
```

In [135]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
#while True:
#    print("Hello")

In [ ]:
count = 0
while count < 5: print(count); count += 1

**Catatan:**

Meskipun penulisan dalam satu baris memungkinkan, hal ini **tidak disarankan karena mengurangi keterbacaan kode**.

# Sequence Types

## List

### List Concept

List adalah struktur data di Python yang digunakan untuk menyimpan **kumpulan data dalam satu variabel**, dengan urutan tertentu dan bisa diubah (*mutable*).

Syntax:

```{python}
list = [Value1, Value2, Value3]
```

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
# Indexing
print(numbers[0])
print(numbers[-1])

In [ ]:
# Slicing
print(numbers[1:4])

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers[2] = 99
print(numbers)  # [1, 2, 99, 4, 5]

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0])      # [1, 2, 3]
print(matrix[1][2])   # 6

### List Comprehension

Syntax for list comprehension:

```python
[expression for item in iterable]

[expression for item in iterable if condition]
```

In [ ]:
numbers1 = [0, 1, 2, 3, 4]
squares = [x**2 for x in numbers1]
print(squares)

In [ ]:
numbers2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
even = [x for x in numbers2 if x % 2 == 0]
print(even)

### List Methods

[List Methods Documentation](https://docs.python.org/3/tutorial/datastructures.html)

In [ ]:
numbers = [1, 2, 3, 4, 5]

`append(item)`

In [ ]:
numbers.append(6)
print(numbers)

In [ ]:
numbers.append([7, 8])
print(numbers)

`insert(index, item)`

In [ ]:
numbers.insert(1, 100)
print(numbers)

`remove(item)`

In [ ]:
numbers.remove(3)
print(numbers)

In [ ]:
numbers.remove(3)
print(numbers)

`clear()`

In [ ]:
numbers.clear()
print(numbers)

`pop([index])`

In [ ]:
numbers = [1, 2, 3, 4, 5]

numbers.pop()     # Removes last item
print(numbers)  # [1, 2, 3, 4]
numbers.pop(1)    # Removes item at index 1
print(numbers)  # [1, 3, 4]

#### `sort()` and `reverse()`

In [ ]:
numbers = [2, 5, 3, 4, 1]
numbers.sort()  # Sorts the list in place in ascending order
print(numbers)

numbers = [2, 5, 3, 4, 1]
numbers.reverse()  # Reverses the list in place
print(numbers)

In [ ]:
nums = [2, 5, 3, 4, 1]
nums.sort()
nums.reverse() # Descending after ascending sort
print(nums)

nums = [2, 5, 3, 4, 1]
nums.sort(reverse=True)  # Direct descending sort
print(nums)

#### `view()` vs. `copy()`

In [ ]:
# View (alias)
a = [1, 2, 3]
b = a
b[0] = 99
print(a)

In [ ]:
# Copy
a = [1, 2, 3]
b = a.copy()
b[0] = 99
print(a)

## Tuple

Tuple adalah kumpulan data yang **terurut** (ordered) namun **tidak dapat diubah** (immutable). Setelah dibuat, elemen-elemen di dalam tuple **tidak bisa diubah**, **tidak bisa ditambah**, dan **tidak bisa dihapus**.

Perbedaan utama antara tuple dan list:
- Tuple bersifat **immutable** → isinya tetap
- List bersifat **mutable** → isinya bisa dimodifikasi

Syntax for creating a tuple:

```{python}
variable_name = (Value1, Value2, Value3)
```

In [ ]:
numbers = (1, 2, 3, 2, 4)

In [ ]:
# Indexing
print(numbers[0])
print(numbers[-1])

In [ ]:
# Slicing
print(numbers[1:4])

In [ ]:
dir(tuple)

`index(value, start, end)`

In [ ]:
help(tuple.index)

In [ ]:
numbers = (1, 2, 3, 2, 4)

In [ ]:
print(numbers.index(2))

In [ ]:
print(numbers.index(2, 2))

In [ ]:
print(numbers.index(2, 0, 3))

In [ ]:
print(numbers.index(5))

`count(value)`

In [ ]:
help(tuple.count)

In [ ]:
numbers = (1, 2, 3, 2, 4)

In [ ]:
print(numbers.count(2))

### Unpacking

In [ ]:
point = (3, 4)
x, y = point
print(x)
print(y)

In [ ]:
numbers = [1, 2, 3]
a, b, c = numbers
print(a, b, c)  # 1 2 3

> **Note**: Jumlah variabel harus sesuai dengan jumlah elemen, **kecuali jika menggunakan `*`**.

In [ ]:
# Extended unpacking
a, *b = [1, 2, 3, 4]
print(a)
print(b)

## Set

Set adalah kumpulan data yang bersifat:
- **Tidak terurut** (unordered) → elemen tidak memiliki indeks dan urutan bisa berubah
- **Mutable** → bisa ditambah atau dihapus elemennya
- Hanya menyimpan **elemen unik** → tidak ada duplikat

Syntax for creating a set:

```{python}
set = {Value1, Value1, Value2, Value2}  # {Value1, Value2}
```

[Set Documentation](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)

In [ ]:
numbers = {1, 2, 3, 3, 4}
print(numbers)

In [ ]:
# Creates empty set
empty_set = set()

# Creates empty dictionary
empty_dict = {}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [ ]:
print(set1 | set2) # Union

In [ ]:
print(set1 & set2) # Intersection

In [ ]:
print(set1 - set2) # Difference

print(set2 - set1) # Difference

In [ ]:
print(set1 ^ set2) # Symmetric difference

## Dictionary

Dictionary adalah struktur data di Python yang menyimpan data dalam bentuk *key-value pairs*.

- Setiap **key harus unik**, tapi **value boleh duplikat**
- Akses data dilakukan menggunakan **key**, bukan indeks
- Bersifat **mutable** → bisa ditambah, diubah, dan dihapus

Syntax:

```{python}
variabel_name = {
    Key: Value,
    Key: Value,
    Key: Value
}
```

[Dictionary Documentation](https://docs.python.org/3/library/stdtypes.html#dict)

In [ ]:
student = {
    "name": "Ali",
    "age": 20,
    "is_active": True
}

print(student)

In [ ]:
print(student["name"])

In [ ]:
print(student.items()) # key-value pairs

In [ ]:
print(student.keys()) # keys only

In [ ]:
print(student.values()) # values only

`get()`

In [ ]:
print(student.get("name"))

In [ ]:
print(student.get("email"))

In [ ]:
print(student["email"])

In [ ]:
print(student.get("email", "Not provided"))

In [ ]:
student["age"] = 21
student["grade"] = "A"
print(student)

## Typecasting for Sequence Types

- `list(iterable)`  
  Mengubah iterable (seperti string, tuple, set, atau range) menjadi list.

- `tuple(iterable)`  
  Mengubah iterable menjadi tuple.

- `set(iterable)`  
  Mengubah iterable menjadi set unik (duplikat akan dihapus).

- `dict(pairs)`  
  Mengubah **kumpulan pasangan** (biasanya list/tuple of tuples) menjadi dictionary.  
  Contoh: `dict([("a", 1), ("b", 2)])` → `{"a": 1, "b": 2}`

> **Note**: Fungsi-fungsi ini hanya berhasil jika format datanya sesuai. Misalnya, `dict()` butuh pasangan `key-value`, bukan sekadar list biasa.

In [ ]:
# Convert to list
data = "abcd"
hasil = list(data)
print(hasil)

In [ ]:
# Convert to tuple
angka = [1, 2, 3]
hasil = tuple(angka)
print(hasil)

In [ ]:
 # Convert to set
angka = [1, 2, 2, 3, 3, 3]
hasil = set(angka)
print(hasil)

In [ ]:
# Convert to dictionary
pasangan = [("a", 1), ("b", 2), ("c", 3)]
hasil = dict(pasangan)
print(hasil)

> **Note**:
- list() dan tuple() bisa digunakan untuk string, list, set, dll.
- set() otomatis menghapus duplikat.
- dict() butuh iterable yang berisi pasangan dua nilai (key, value).

# Function

Fungsi adalah blok kode terstruktur yang bisa dipanggil berulang kali. Fungsinya untuk:
- Menghindari penulisan ulang kode
- Membuat program lebih terorganisir
- Menerima input (parameter) dan bisa mengembalikan hasil (output)

**Struktur Umum Fungsi:**

```python
def nama_fungsi(parameter):
    # blok kode
    return hasil
```

**Perbedaan: Fungsi dengan `return` vs Tanpa `return`**

**1. Fungsi dengan `return`:**
- Mengembalikan nilai ke pemanggil fungsi
- Bisa disimpan dalam variabel
- Bisa digunakan dalam ekspresi lain

**2. Fungsi tanpa `return`:**
- Hanya menjalankan aksi (misal mencetak output dengan `print()`)
- Tidak mengembalikan nilai (secara default akan mengembalikan `None`)
- Biasanya digunakan untuk efek samping, bukan perhitungan

**Catatan:**

`return` di dalam fungsi **menghentikan eksekusi fungsi** dan langsung keluar, **mirip dengan `break` dalam loop**.

**Artinya:**
- Begitu `return` dijalankan, baris-baris setelahnya di dalam fungsi **tidak akan dijalankan**.

In [ ]:
# Contoh:
def contoh():
    print("Sebelum return")
    return 123
    print("Setelah return")  # Tidak akan dijalankan

sample = contoh()  # Output: Sebelum return
print(sample)  # Output: 123

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

greet("Ali")  # → Hello, Ali!

In [ ]:
# Default Arguments
def greet(name, message="Welcome"):
    print(f"{message}, {name}!")

greet("Ali")                        # Uses default message → Welcome, Ali!
greet("Ali", "Good morning")        # Overrides default → Good morning, Ali!

`*args` and `**kwargs`

- `*args` -> captures extra positional arguments as a tuple
- `**kwargs` -> captures extra keyword arguments as a dictionary

In [ ]:
def demo(*args, **kwargs):
    print("Positional:", args)
    print("Keyword:", kwargs)

demo(1, 2, 3, name="Ali", age=20)
# → Positional: (1, 2, 3)
# → Keyword: {'name': 'Ali', 'age': 20}

In [ ]:
# Contoh *args
def jumlahkan_semua(*args):
    total = sum(args)
    print(f"Total: {total}")

jumlahkan_semua(3, 5, 7)
# Output: Total: 15

In [ ]:
# Contoh **kwargs
def buat_profil(**kwargs):
    for k, v in kwargs.items():
        print(f"{k.capitalize()}: {v}")

buat_profil(nama="Ali", umur=20, kota="Bogor")
# Output:
# Nama: Ali
# Umur: 20
# Kota: Bogor

## Lambda Function

**Lambda function** (juga dikenal sebagai **anonymous function**) adalah cara singkat untuk membuat fungsi **satu baris** tanpa harus menggunakan `def`.

- Tidak perlu nama fungsi (lambda berarti anonim)
- Cocok untuk fungsi sederhana yang hanya butuh satu ekspresi
- Secara otomatis mengembalikan hasil dari ekspresi (tidak perlu return)

Syntax:

```{python}
function_name = lambda arguments: expression
```

In [ ]:
square = lambda x: x * x
print(square(5))  # → 25

In [ ]:
add = lambda x, y: x + y
print(add(2, 3))  # → 5

**Catatan:**

Lambda paling cocok untuk ekspresi sederhana, dan sering digunakan dalam `map()`, `filter()`, atau sebagai callback singkat.

# Object Oriented Programming

**OOP (Object-Oriented Programming)** adalah paradigma pemrograman yang berfokus pada pembuatan **objek** untuk merepresentasikan data dan fungsi.

Syntax:

```{python}
class ClassName:
  code block
```

### Class

Dalam Python, **class** adalah cetakan atau blueprint untuk membuat **objek**.  
Class mendefinisikan:
- **Atribut** → data atau properti yang dimiliki objek
- **Method** → fungsi atau perilaku yang bisa dilakukan oleh objek

Dengan class, kita bisa membuat banyak objek yang memiliki struktur dan perilaku yang sama, tetapi nilai atributnya bisa berbeda-beda.

In [ ]:
class Person:
  pass

In [ ]:
person1 = Person()
person2 = Person()

In [ ]:
person1.name = "Steve"
person1.age = 100

person2.name = "Tony"
person2.age = 40

In [ ]:
print(person1.name)
print(person1.age)

### Instance Variable

**Instance variable** adalah variabel yang disimpan di dalam objek (instance) dari sebuah class.

Setiap objek memiliki **salinan sendiri** dari instance variable, sehingga nilainya bisa berbeda antara satu objek dengan objek lainnya.

Syntax:

```{python}
class ClassName:
  def __init__(self, ...):
    ...
```

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name # instance variable
    self.age = age

  def greet(self):
    print(f"Hi, I'm {self.name} and I'm {self.age} years old.")

In [ ]:
person1 = Person("Ali", 20)
person2 = Person("Rindu", 19)

person1.greet()
person2.greet()

### Class Variable

**Class variable** adalah variabel yang dimiliki **oleh class itu sendiri**, dan **berlaku untuk semua objek** (instance) yang dibuat dari class tersebut.

Berbeda dengan **instance variable**, class variable **dibagikan bersama** antar semua instance.

In [ ]:
class Person:
  species = "Human" # class variable

  def __init__(self, name, age):
    self.name = name # instance variable
    self.age = age

  def greet(self):
    print(f"Hi, I'm {self.name} and I'm {self.age} years old.")

In [ ]:
person1 = Person("Ali", 20)
person2 = Person("Rindu", 19)

print(person1.age)
print(person2.age)

print(person1.species)
print(person2.species)

### Inheritance (Pewarisan)

**Inheritance** memungkinkan sebuah class (disebut **child class**) untuk **mewarisi atribut dan method** dari class lain (disebut **parent class**).  
Tujuannya adalah untuk **mengurangi duplikasi kode** dan mempermudah **reusabilitas**.

Syntax:

```{python}
class SubClassName(ParentClassName):
  code block
```

In [ ]:
class Person:
  species = "Human"

  def __init__(self, fname, lname, age):
    self.fname = fname
    self.lname = lname
    self.fullname = fname + " " + lname
    self.age = age

  def greet(self):
    print(f"Hi, I'm {self.fullname} and I'm {self.age} years old.")

class Student(Person):
  pass

In [ ]:
student1 = Student("Steve", "Roger", 100)
student2 = Student("Tony", "Stark", 40)

In [ ]:
student1.greet()

In [ ]:
class Person:
  species = "Human"

  def __init__(self, fname, lname, age):
    self.fname = fname
    self.lname = lname
    self.fullname = fname + " " + lname
    self.age = age

  def greet(self):
    print(f"Hi, I'm {self.fullname} and I'm {self.age} years old.")

class Student(Person):
  def __init__(self, fname, lname, age, univ, live):
    super().__init__(fname, lname, age)
    self.univ = univ
    self.live = live

  def greet(self):
    print(f"""
    Hello...
    My name is {self.fullname}
    I'm {self.age} years old
    I study at {self.univ}
    I live in {self.live}
    """)

In [ ]:
student1 = Student("Steve", "Roger", 100, "Universitas Indonesia", "Condet")
student2 = Student("Tony", "Stark", 40, "IPB University", "Balio")

In [ ]:
student2.greet()

In [ ]:
print(isinstance(student1, Student))
print(isinstance(student1, Person))

In [ ]:
person1 = Person("Steve", "Roger", 100)

print(isinstance(person1, Student))
print(isinstance(person1, Person))

In [ ]:
print(issubclass(Student, Person))
print(issubclass(Person, Student))

In [ ]:
animal = Animal("Creature")
animal.speak()  # → Creature makes a sound.

dog = Dog("Rex")
dog.speak()     # → Rex barks.

cat = Animal("Whiskers")
cat.speak()     # → Whiskers makes a sound.

In [ ]:
# super()

class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print(f"{self.name} makes a sound.")

class Dog(Animal):  # Dog inherits from Animal
    def speak(self):
        print(f"{self.name} barks.")

class Cat(Animal):
    def __init__(self, name, color):
        super().__init__(name)   # Call parent constructor
        self.color = color

    def speak(self):
        super().speak()          # Call parent method
        print(f"{self.name} meows.")

In [ ]:
cat = Cat("Mika", "white")
cat.speak()
# → Mika makes a sound.
# → Mika meows.